/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* header */

header{
    height: 70px;
    padding: 1.5% 1.5%;
    margin-bottom: 40px;;
    background-color: white;
}


h1 {
    display: inline;
    vertical-align: middle;
}


img {
    vertical-align: middle;
}

/* body */

body {
    background-color:rgba(217, 215, 214, 0.469);
}

.contenitore {
    margin: 3px auto;
    background-color: white;
    border: none;
    padding: 10px 55px;
    width: 75%;
    border-radius: 4px;
}

#add-task {
    color: white;
    background-color: deepskyblue;
    border: none;
    border-radius: 5px;
    padding: 5px;
}   

#add-selection {
    color: lightgrey;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
}   

/* contenitore grande */

.secondo {
     padding: 15px 70px;
}

li {
    list-style: none;
    
}
