/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* header */

header{
    height: 70px;
    padding: 1.5% 1.5%;
    margin-bottom: 40px;;
    background-color: white;
}


h1 {
    display: inline;
    vertical-align: middle;
}


img {
    vertical-align: middle;
}

/* body */

body {
    background-color:rgba(217, 215, 214, 0.469);
}

/* primo contenitore */
.contenitore {
    margin: 3px auto;
    background-color: white;
    border: none;
    padding: 15px 55px;
    width: 75%;
    border-radius: 4px;
}

#add-task {
    color: white;
    background-color: deepskyblue;
    border: none;
    border-radius: 5px;
    padding: 5px;
}   

#add-selection {
    color: lightgrey;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
}   

/* contenitore grande */

.secondo {
     padding: 15px 70px;
}

li {
    list-style: none;
}

#lista-prima {
    list-style: none;
    line-height: 2;
    margin-bottom: 15px;
}

#lista-seconda {
    list-style: none;
    line-height: 2;
    margin-bottom: 15px;
}

#lista-terza {
    list-style: none;
    line-height: 2;
    margin-bottom: 15px;
}

/* etichette label*/

.etichetta {
    font-size: 10px;
    border-radius: 8px;
    color: white;
    padding: 4px;
}

.editorial {
    background-color: skyblue;
}

.q-one {
    background-color: blueviolet;
}

.recruiting {
    background-color:lightseagreen;
}

.mobile {
    background-color:;
}

.website {
    background-color: mediumvioletred;
}

.sales {
    background-color: olivedrab;
}